@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --white-background: #fafafa;
    --shadow-color: #cfd6df;
    --white-hover: #ebf0f5;
    --blue-background: rgb(0, 135, 197);
    --blue-hover: rgb(37, 160, 218);
    --content-color: #dfe8f1;
    --grey-text: #555555;
}

body {
    display: grid;
    grid-template-columns: 250px 6fr;
    grid-template-rows: 100px 1fr 50px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    color: #222222;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
}

.header {
    grid-column: 2/3;
    grid-row: 1/2;
}

.content {
    grid-column: 2/3;
    grid-row: 2/3;
}

.footer {
    grid-column: 1/3;
    grid-row: 3/4;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--blue-background);
    color: white;
    font-size: 20px;
    align-items: center;
    z-index: 10;
    position: sticky;
    transform: translateX(0);
}

.closeButton {
    display: none;
    cursor: pointer;
}

.closeButton img {
    width: 30px;
}

.logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.logo>img {
    width: 40px;
    margin-right: 10px;
}

.menu {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    width: 100%;
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    box-sizing: border-box;
}

li:hover {
    background-color: var(--blue-hover);
    border-left: 5px solid var(--white-background);
    padding-left: calc(2rem - 5px);
    cursor: pointer;
}

li>img {
    width: 20px;
    margin-right: 15px;
}

li:nth-child(7) {
    margin-top: 2rem;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem 3rem 1rem 3rem;
    align-items: center;
    background-color: var(--white-background);
    box-shadow: 0 5px 5px var(--shadow-color);
    z-index: 1;
}

.search-bar {
    display: flex;
}

.hamburger {
    display: none;
}

input {
    appearance: none;
    outline: none;
    border: none;
    background-color: var(--content-color);
    height: 30px;
    border-radius: 30px;
    width: 50%;
    padding: 0 1rem 0 1rem;
}

input:hover {
    border: 2px solid var(--blue-background);
    padding: 0 calc(1rem - 2px);
}

.search-bar img {
    width: 20px;
    margin-left: 20px;
}

.user-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    align-items: center;
    gap: clamp(10px, 3vw, 30px);
    font-size: 20px;
}

.user-info>img {
    width: 25px;
    cursor: pointer;
}

.avatar img {
    height: 50px;
}

h1 {
    font-size: 22px;
}

.content {
    padding: 1rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--content-color);
}

.projects-container {
    padding: 2rem 3rem 2rem 2rem;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nav {
    justify-self: end;
}

.nav button {
    appearance: none;
    border: none;
    padding: 0.7rem 3rem;
    border-radius: 20px;
    background-color: var(--blue-background);
    color: white;
}

button:hover {
    background-color: var(--blue-hover);
}

.projects {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 13rem;
    padding-top: 2rem;
}

.project-card {
    display: grid;
    padding: 1rem;
    border-left: var(--blue-background) solid 6px;
    border-radius: 10px;
    grid-template-rows: 3fr 1fr;
    background-color: var(--white-background);
    box-shadow: 5px 5px 8px 0px var(--shadow-color);
    z-index: 1;
}

.project-buttons {
    justify-self: end;
    align-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    cursor: pointer;
}

.project-buttons img {
    width: 20px;
}

h2 {
    font-size: 1.2rem;
}

.project-card p {
    font-size: 0.8rem;
    color: var(--grey-text);
}

.project-card:hover {
    background-color: var(--white-hover);
}

.content-right {
    padding-top: 2rem;
}

.container {
    margin: 1rem 2rem 2rem 0;
    padding: 1rem;
    font-size: 12px;
    display: grid;
    border-left: var(--blue-background) solid 6px;
    border-radius: 10px;
    background-color: var(--white-background);
    box-shadow: 0 5px 5px var(--shadow-color);
    z-index: 1;
}

.anno-card {
    padding: 1rem;
}

.anno-card:not(:last-of-type) {
    border-bottom: 1px solid rgba(85, 85, 85, 0.2);
}

.anno-card p {
    color: var(--grey-text);
}

.anno-card:hover {
    background-color: var(--white-hover);
    border-radius: 10px;
}

.trending-card {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0.5rem 1rem;
}

.trending-card img {
    height: 40px;
}

.nickname {
    font-weight: bold;
    margin-bottom: 2px;
}

.trending-card:hover {
    background-color: var(--white-hover);
    border-radius: 10px;
}

.project-card:active,
.trending-card:active,
.anno-card:active {
    background-color: #cad7e4;
}

.footer {
    background-color: var(--blue-background);
    color: white;
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
    z-index: 20;
}

.footer a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width:850px) {
    body {
        grid-template-columns: 1fr;
    }
    .sidebar {
        position: fixed;
        height: 100%;
        transition: transform 350ms ease-in-out;
        width: 300px;
        transform: translateX(-100%);
    }
    .open {
        display: flex;
        transform: translateX(0);
    }
    .hamburger {
        display: block;
        position: absolute;
        left: 40px;
    }
    .hamburger img {
        height: 30px;
    }
    .content {
        grid-template-columns: 1fr;
        padding: 0;
    }
    .content-right {
        padding: 2rem;
    }
    .header {
        grid-template-columns: 1fr;
    }
    .search-bar {
        display: none;
    }
    .user-info {
        padding-right: 1rem;
    }
    .visible {
        display: block;
        position: absolute;
        top: 20px;
        left: 250px;
    }
}